<center>
    <h1>Edit Consumer Page for <%=@consumer.username%></h1>

      <form action="/consumers/<%= @consumer.id %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= @consumer.name %>">
      <br></br>
        <label for="username">username</label>
        <input type="text" name="username" id="username" value="<%= @consumer.username %>">
      <br></br>
        <label for="age">age</label>
        <input type="text" name="age" id="age" value="<%= @consumer.age %>">
      <br></br>
        <label for="address">address</label>
        <input type="text" name="address" id="address" value="<%= @consumer.address %>">
      <br></br>
        <label for="email">email</label>
        <input type="text" name="email" id="email" value="<%= @consumer.email %>">
      <br></br>
        <p>Your Local Library</p>
        <% Library.all.each do |lib| %>
              <label><%= lib.name %></label>
                  <input type="checkbox" name="library_id" value="<%= lib.id %>" id="<%= lib.name %>" <%='checked' if @consumer.library == lib %>>
                    <br></br>
        <% end %>

        <input type="submit" value="Save">
      </form>
      --------------------------------
  <br></br>
        <a href="/consumers/<%=@consumer.id%>/delete">Delete this account</a>
<br></br>
      <a href="/consumers/<%=@consumer.id%>">Cancel</a>

</center>
