<center>
        <h1><%=@library.name%> show page.</h1>
        <p>Below you will find the details for this Library.</p>

        <p><b>Name </b>= <%=@library.name%><p>
        <p><b>Phone </b>= <%=@library.contact_phone%><p>
        <p><b>Email </b>= <%=@library.contact_email%><p>
        <p><b>Address: </b>= <%=@library.address_street%><p>
        <p><b>State </b>= <%=@library.address_state%><p>
        <p><b>Zipcode </b>= <%=@library.address_zipcode%><p>
        <p><b>Hours: </b>= <%=@library.hours_of_operation%><p>

        <p>Librarians at this library: <%=@librarian_count%>    <p>
        <p>Consumers at this library: <%=@consumer_count%>    <p>

        <br><br>
        <a href="/libraries/<%=@library.id%>/edit">Edit this Library</a>
        <br></br>
        <a href="/consumers">View all consumers</a>
        <br></br>
        <a href="/librarians">View all librarians</a>
        
        <br></br>
        <a href="/">homepage</a>
        <br></br>
        <a href="/logout">Log Out</a>

</center>
