<center>
<%binding.pry%>
<% if !@section == nil %>
        <% if @section.errors.any? %>
                    <div id="error_explanation">
                      <h2> Count: <%= @section.errors.count %> error(s), prohibit this section from being saved:</h2>
                      <ul>
                      <%if @section.errors.count == 1%>
                            <li><%= @section.errors.full_messages %></li>
                      <%else%>
                            <% @section.errors.full_messages.each do |msg| %>
                                  <li><%= msg %></li>
                            <% end %>
                      <%end%>
                      </ul>
                    </div>
        <% end %>
<%end%>

      <h1>Create a new section at the <%=@library.name%> branch</h1>
      <form action="/sections/new" method="POST">
            <b><label>Section Name:</label></b>
              <input type="text" name="section[name]" id="name" placeholder="">
      <br></br>
              <b><label>Location in the library?</label></b>
              <input type="text" name="section[location]" id="location" placeholder="">
      <% @library_id = @library.id%>



<br></br>



              <input type="submit" name="submit" value="Create New Section">

      </form>

      <a href="/libraries/<%=@library.id%>">Cancel</a>
      <br></br>
      <a href="/logout">Logout</a>



</center>
