

<center>

    <h1>Congratulations <%=@librarian.username%> for becoming a Librarian of the NJ library system.</h1>
    <p>We just have a few more questions to get you fully onboarded.<p>

      <form action="/librarians/onboarding" method="POST">

               <label>What is your full name?</label>
                  <input type="text" name="librarian[name]" id="name" placeholder="">

              <br></br>

              <label>What is your age?</label>
                  <input type="text" name="librarian[age]" id="age" placeholder="">

              <br></br>

              <label>What year did you start working with us?</label>
              <input type="text" name="librarian[start_year]" id="start_year" placeholder="">

              <br></br>

                <p>What Libraries do you belong to?</p>
                <% Library.all.each do |library| %>
                <label><%= library.name %></label>
                <input type="checkbox" name="librarian[library_id]" value="<%= library.id %>" id="<%= library.name %>" <%='checked' if @librarian.library == library %>>
                <% end %>
                <br></br>
                <input type="submit" name="submit" value="submit">

      </form>

      <br></br>
      <b>
          <% if flash.has?(:message) %>
            <%= flash[:message] %>
          <% end %>
      </b>

</center>
